
html {
  /*background: url("rocks/brown-bg.jpg") no-repeat center center fixed;*/
  /*background-color: #2a2a2a;*/
  background-image: url("rocks/outer-space-pizza.png");
  /*background-repeat: no-repeat;*/
}

#board {
  width: 749px;
  background-color: black;
  margin: auto;
  margin-top: 144px;
}

#title {
  font: green 50px;
}

.square {
  float: left;
}

.pizza {
  background-image: url("rocks/pizza.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  /*border: 1px solid green;*/
}


.nizar {
  background-image: url("rocks/nizar.png");
  width: 40px;
  height: 40px;
}
/*
#big-head {
  background-image: url("rocks/nizarbig.png");
}*/

.wall {
  background-image: url("rocks/brick-block.png");
  width: 40px;
  height: 40px;
}

.eSign1, .eSign2, .eSign3, .eSign4 {
  background-image: url("rocks/exit.jpg");
  width: 40px;
  height: 40px;
}

.path {
  width: 40px;
  height: 40px;
}
